<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>servlet.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>servlet.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAssignment</servlet-name>
        <servlet-class>servlet.ViewAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAssignment</servlet-name>
        <servlet-class>servlet.EditAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Submit</servlet-name>
        <servlet-class>servlet.Submit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadZip</servlet-name>
        <servlet-class>servlet.DownloadZip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadSubmission</servlet-name>
        <servlet-class>servlet.DownloadSubmission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         c://shubham//
      </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAssignment</servlet-name>
        <url-pattern>/ViewAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAssignment</servlet-name>
        <url-pattern>/EditAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Submit</servlet-name>
        <url-pattern>/Submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadZip</servlet-name>
        <url-pattern>/DownloadZip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadSubmission</servlet-name>
        <url-pattern>/DownloadSubmission</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
